// Custom.scss
// Option B: Include parts of Bootstrap
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #1d5b2f;
$secondary: #00ad52;
$dark: #112719;
$light: #ffef94;

$box-shadow: 0 0.5rem 1rem rgba($primary, 0.15);
$box-shadow-sm: 0 0.125rem 0.25rem rgba($primary, 0.075);
$box-shadow-lg: 0 1rem 3rem rgba($primary, 0.175);
$box-shadow-inset: inset 0 1px 2px rgba($primary, 0.075);

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/root";

@include color-mode(dark) {

  .ql-toolbar span,
  h1,
  p,
  #news h3,
  #contact {
    color: #fff;
  }

  .ql-toolbar {
    svg {

      path:not(g path),
      line,
      polyline,
      rect:not(g rect) {
        stroke: #fff;
      }

      .ql-fill,
      .ql-stroke.ql-fill {
        fill: #fff !important;
      }
    }
  }

  #profileVideo p {
    color: #606060;
  }

  .btn-primary {
    box-shadow: 10px 15px 50px 5px rgba($primary, 0.5) !important;
    -webkit-box-shadow: 10px 15px 50px 5px rgba($primary, 0.5);
    -moz-box-shadow: 10px 15px 50px 5px rgba($primary, 0.5);
  }

  .navbar-brand,
  .text-primary:not(#profileVideo h2) {
    -webkit-text-stroke: .3px #fff;
  }

  .navbar,
  main.bg-primary {
    background-color: $body-bg-dark !important;

  }
}

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/offcanvas";
@import "../../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

// @import "@sweetalert2/theme-bootstrap-4/bootstrap-4.scss";

* {
  font-family: "Poppins", sans-serif;
  transition: background-color .5s;
}

a {
  text-decoration: none;
}

h1,
p,
#news h3,
#profileVideo,
#contact {
  color: #606060;
}

#gallery,
// #profileVideo,
footer.page-footer {
  background: $primary;
}

.navbar {
  background-color: #fff;
  border-top: 5px solid $primary;

  .container::before {
    content: "";
    position: absolute;
    top: 0;
    width: 75px;
    height: 100px;
    background-color: $primary;
  }
}

.btn-primary,
.btn-outline-primary:hover {
  color: $light !important;
}

.text-justify {
  text-align: justify;
}

.navbar-fixed {
  position: relative;
  height: 76px;

  .navbar-brand {
    // font-family: "Pacifico", cursive;
    font-family: "Poppins", sans-serif;
    font-weight: 700;

    img {
      max-height: 50px;
      position: relative;
      z-index: 2;
      margin-left: calc(25px / 2);
    }
  }
}

$news-height: 425px;

.news-preview {
  border: none;
  position: relative;
  background-position: center;
  background-size: cover;
  height: calc($news-height / 2);

  .card-body {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 75%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    border-radius: 0 0 $border-radius $border-radius;
  }
}

.main-news {
  height: calc($news-height + 1rem);
}

hr.dashed {
  border-top: 3px dashed $primary;
}

.ql-editor {
  .img-fluid {
    max-width: 100%;
  }
}